# {{ ansible_managed }}

ADMIN_EMAIL = {{ denyhosts_admin_email }}
AGE_RESET_INVALID={{ denyhosts_age_reset_invalid }}
AGE_RESET_RESTRICTED={{ denyhosts_age_reset_restricted }}
AGE_RESET_ROOT={{ denyhosts_age_reset_root }}
AGE_RESET_VALID={{ denyhosts_age_reset_valid }}
ALLOWED_HOSTS_HOSTNAME_LOOKUP={{ 'YES' if denyhosts_allowed_hosts_hostname_lookup|bool else 'NO' }}
BLOCKPORT = {{ denyhosts_blockport }}
BLOCK_SERVICE  = {{ denyhosts_block_service }}
DAEMON_LOG = {{ denyhosts_daemon_log }}
DAEMON_LOG_MESSAGE_FORMAT = {{ denyhosts_daemon_log_message_format }}
DAEMON_LOG_TIME_FORMAT = {{ denyhosts_daemon_log_time_format }}
DAEMON_PURGE = {{ denyhosts_daemon_purge }}
DAEMON_SLEEP = {{ denyhosts_daemon_sleep }}
DENY_THRESHOLD_INVALID = {{ denyhosts_deny_threshold_invalid }}
DENY_THRESHOLD_RESTRICTED = {{ denyhosts_deny_threshold_restricted }}
DENY_THRESHOLD_ROOT = {{ denyhosts_deny_threshold_root }}
DENY_THRESHOLD_VALID = {{ denyhosts_deny_threshold_valid }}
ETC_DIR = {{ denyhosts_etc_dir }}
HOSTNAME_LOOKUP={{ 'YES' if denyhosts_hostname_lookup|bool else 'NO' }}
HOSTS_DENY = {{ denyhosts_hosts_deny }}
IPTABLES = {{ denyhosts_iptables }}
LOCK_FILE = {{ denyhosts_lock_file }}
PFCTL_PATH = {{ denyhosts_pfctl_path }}
PF_TABLE = {{ denyhosts_pf_table }}
PLUGIN_DENY={{ denyhosts_plugin_deny }}
PLUGIN_PURGE={{ denyhosts_plugin_purge }}
PURGE_DENY = {{ denyhosts_purge_deny }}
PURGE_THRESHOLD = {{ denyhosts_purge_threshold }}
RESET_ON_SUCCESS = {{ 'YES' if denyhosts_reset_on_success|bool else 'NO' }}
SECURE_LOG = {{ denyhosts_secure_log }}
SMTP_DATE_FORMAT = {{ denyhosts_smtp_date_format }}
SMTP_FROM = {{ denyhosts_smtp_from }}
SMTP_HOST = {{ denyhosts_smtp_host }}
SMTP_PASSWORD={{ denyhosts_smtp_password }}
SMTP_PORT = {{ denyhosts_smtp_port }}
SMTP_SUBJECT = {{ denyhosts_smtp_subject }}
SMTP_USERNAME={{ denyhosts_smtp_username }}
SUSPICIOUS_LOGIN_REPORT_ALLOWED_HOSTS={{ 'YES' if denyhosts_suspicious_login_report_allowed_hosts|bool else 'NO' }}
SYNC_DOWNLOAD = {{ 'YES' if denyhosts_sync_download|bool else 'NO' }}
SYNC_DOWNLOAD_RESILIENCY = {{ denyhosts_sync_download_resiliency }}
SYNC_DOWNLOAD_THRESHOLD = {{ denyhosts_sync_download_threshold }}
SYNC_INTERVAL = {{ denyhosts_sync_interval }}
SYNC_SERVER = {{ denyhosts_sync_server }}
SYNC_UPLOAD = {{ 'YES' if denyhosts_sync_upload|bool else 'NO' }}
SYSLOG_REPORT={{ 'YES' if denyhosts_syslog_report|bool else 'NO' }}
USERDEF_FAILED_ENTRY_REGEX={{ denyhosts_userdef_failed_entry_regex }}
WORK_DIR = {{ denyhosts_work_dir }}
